/*Organizations styles*/

.Organizations{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-top: 30px; */
    margin: 0 auto;
}
