.LogoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #BF2B47;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,0.5);
    margin-bottom: 50px;
}
.LogoutButton:hover{
    background-color: #BF2B47;
    color: #FCFCFC;
}