/* styles.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #1f1246, #892246);
    max-width: 600px;
    /* margin: 0 auto; */
    margin: 10rem auto;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
}
  
  .heading {
    font-size: 24px;
    margin-bottom: 16px;
    color: #fff;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .ngoImage {
    width: 500px;
    height: 100px;
    object-fit: contain;
  }

  .ngoData {
    margin: 18rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  