.Container {
    padding: .75rem;
    width: 95%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}


.HeaderContainer>p {
    display: flex;
    width: 85%;
    justify-content: flex-start;
}

.HelpContainer{
    width: 85%;
    background: rgba(14, 14, 15, 0.1);
    border-radius: 10px;
    height: 3rem;
    display: flex;
    margin-bottom: 1rem;
    padding: .5rem;
    align-items: center;
}

.HelpContainer img{
    display: block;
    margin-left: .5rem;
    margin-right: .5rem;
}

.FeedbackMessage {
    color: red;
}

.Button {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 50px;
    max-width: 400px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 15px 0;
    background: linear-gradient(90deg, #1F1246, #892246);
    color: #fff;
}

.FeedbackMessage {
    color: #1F1246;
}